<div>
    <div class="article-holder">
        
        <ul class="articles">
            <li *ngFor="let article of articles">
                <button type="button" [class.selected]="article === selectedArticle" (click)="onSelect(article)">
                    <span class="badge">{{article.id}}</span>
                    <span class="title">{{article.title}}</span>
                    <span class="author">by {{article.author}}</span>
                </button>
            </li>
        </ul>
    </div>
    <div>
        <app-article-details [article]="selectedArticle"></app-article-details>
    </div>
    
</div>